html {
  position: relative;
  min-height: 100%;
}

body {
  min-height: 100vh;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

#site {
  -webkit-flex: 1;
  flex: 1;
}

#backend-content .page-header {
  margin: 0 0 20px;
}

.ci-dark-blue {
  color: #fff;
  background-color: @ci-dark-blue;
}

.ci-dark-grey {
  color: #aaa;
  background-color: @ci-dark-gray;
}

#javax_faces_developmentstage_messages {
	display: none !important;
}

.table {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        line-height: 34px;  // size of action buttons
      }
    }
  }
}
