@ci-dark-blue: #2c3e50;
@ci-dark-gray: #333;

// overrides font-awesome
@fa-font-path: '/ZVotes-web/javax.faces.resource/fonts';

// overrides bootstrap
@navbar-default-link-active-color: white;
@navbar-default-link-active-bg: @ci-dark-blue;
@navbar-default-bg: white;
@dropdown-link-color: @ci-dark-blue;
@dropdown-link-hover-color: white;
@dropdown-link-hover-bg: lighten(@ci-dark-blue, 15%);
@dropdown-link-active-color: white;
@dropdown-link-active-bg: @ci-dark-blue;
